:root {
  --type-bug: #9BBA48;
  --type-dark: #595761;
  --type-dragon: #2C6AC1;
  --type-electric: #D4BC34;
  --type-fairy: #E296E1;
  --type-fighting: #C44D61;
  --type-ground: #CE8056;
  --type-ice: #8BCEC1;
  --type-normal: #909090;
  --type-poison: #AC6ACA;
  --type-psychic: #EB8B65;
  --type-rock: #B6A136;
  --type-ghost: #616EB7;
  --type-grass: #73B861;
  --type-steel: #6594A1;
  --type-water: #4F77BE;
  --type-fire: #E96303;
  --type-flying: #758CBD;
  --blue-primary: #3F5DB3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
button[disabled] {
  cursor: not-allowed;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  padding: 0px 1.5rem;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFF;
  border-radius: 24.4rem;
  max-width: 12.1rem;
  padding: 0.6rem 0.4rem;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tag.blue-tag .icon {
  background: rgba(63, 103, 186, 0.15);
}
.tag.blue-tag span {
  color: #3F67BA;
}
.tag .icon {
  width: 2.6rem;
  height: 2.6rem;
  background: rgba(194, 0, 1, 0.12);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 0.8rem;
}
.tag span {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
  color: #C20001;
}

.search {
  background: #FFF;
  border-radius: 12.2rem;
  height: 5.6rem;
  width: 100%;
  max-width: 40.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 0.7rem;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  border: 2px solid transparent;
  -webkit-transition: border-color 0.1s;
  transition: border-color 0.1s;
}
.search:focus-within {
  border-color: #3E75C3;
}
.search input[type=text] {
  border: 0;
  width: 80%;
  height: 100%;
  font-size: 1.5rem;
  line-height: 150%;
  color: #A0AFBA;
}
.search input[type=text]::-webkit-input-placeholder {
  color: #A0AFBA;
}
.search input[type=text]::-moz-placeholder {
  color: #A0AFBA;
}
.search input[type=text]:-ms-input-placeholder {
  color: #A0AFBA;
}
.search input[type=text]::-ms-input-placeholder {
  color: #A0AFBA;
}
.search input[type=text]::placeholder {
  color: #A0AFBA;
}
.search input[type=text]:focus-visible {
  outline: 0;
}
.search button {
  width: 4.2rem;
  height: 4.2rem;
  background-color: rgba(158, 185, 225, 0.1);
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.search button:hover {
  border-color: #3E75C3;
}

.type-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.type-filter:hover, .type-filter:active, .type-filter.active {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}
.type-filter:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.type-filter .icon {
  width: 2.8rem;
  height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 1rem;
}
.type-filter span {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 150%;
  color: #ACB9C1;
}
.type-filter.all span {
  color: var(--blue-primary);
}
.type-filter.bug span {
  color: var(--type-bug);
}
.type-filter.ghost span {
  color: var(--type-ghost);
}
.type-filter.dark span {
  color: var(--type-dark);
}
.type-filter.dragon span {
  color: var(--type-dragon);
}
.type-filter.fairy span {
  color: var(--type-fairy);
}
.type-filter.electric span {
  color: var(--type-electric);
}
.type-filter.fighting span {
  color: var(--type-fighting);
}
.type-filter.ground span {
  color: var(--type-ground);
}
.type-filter.ice span {
  color: var(--type-ice);
}
.type-filter.normal span {
  color: var(--type-normal);
}
.type-filter.poison span {
  color: var(--type-poison);
}
.type-filter.psychic span {
  color: var(--type-psychic);
}
.type-filter.rock span {
  color: var(--type-rock);
}
.type-filter.grass span {
  color: var(--type-grass);
}
.type-filter.steel span {
  color: var(--type-steel);
}
.type-filter.water span {
  color: var(--type-water);
}
.type-filter.fire span {
  color: var(--type-fire);
}
.type-filter.flying span {
  color: var(--type-flying);
}

.card-pokemon {
  position: relative;
  width: 100%;
  height: 30.4rem;
  max-width: 28rem;
  background-color: #FFF;
  -webkit-box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  border-radius: 1.2rem;
  z-index: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.card-pokemon:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: 0 1.2rem 4rem -0.5rem rgba(90, 96, 100, 0.3);
  box-shadow: 0 1.2rem 4rem -0.5rem rgba(90, 96, 100, 0.3);
}
.card-pokemon:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.card-pokemon .image {
  position: relative;
  width: 20rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1.4rem;
}
.card-pokemon .image .thumb-img {
  max-width: 14.2rem;
  max-height: 22rem;
}
.card-pokemon .image::after {
  content: "";
  position: absolute;
  width: 16.5rem;
  height: 16.5rem;
  z-index: -1;
  border-radius: 50%;
}
.card-pokemon.bug .image:after {
  background-color: rgba(155, 186, 72, 0.2);
}
.card-pokemon.grass .image:after {
  background-color: rgba(115, 184, 97, 0.2);
}
.card-pokemon.ghost .image:after {
  background-color: rgba(97, 110, 183, 0.2);
}
.card-pokemon.dark .image:after {
  background-color: rgba(89, 87, 97, 0.2);
}
.card-pokemon.dragon .image:after {
  background-color: rgba(44, 106, 193, 0.2);
}
.card-pokemon.fairy .image:after {
  background-color: rgba(226, 150, 225, 0.2);
}
.card-pokemon.electric .image:after {
  background-color: rgba(238, 217, 103, 0.2);
}
.card-pokemon.fighting .image:after {
  background-color: rgba(196, 77, 97, 0.2);
}
.card-pokemon.ground .image:after {
  background-color: rgba(206, 128, 86, 0.2);
}
.card-pokemon.ice .image:after {
  background-color: rgba(139, 206, 193, 0.2);
}
.card-pokemon.normal .image:after {
  background-color: rgba(160, 162, 159, 0.2);
}
.card-pokemon.poison .image:after {
  background-color: rgba(172, 106, 202, 0.2);
}
.card-pokemon.psychic .image:after {
  background-color: rgba(235, 139, 101, 0.2);
}
.card-pokemon.rock .image:after {
  background-color: rgba(182, 161, 54, 0.2);
}
.card-pokemon.steel .image:after {
  background-color: rgba(101, 148, 161, 0.2);
}
.card-pokemon.water .image:after {
  background-color: rgba(136, 163, 212, 0.2);
}
.card-pokemon.fire .image:after {
  background-color: rgba(246, 109, 109, 0.2);
}
.card-pokemon.flying .image:after {
  background-color: rgba(166, 187, 232, 0.2);
}
.card-pokemon .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 2.8rem;
}
.card-pokemon .info .txt span {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
  color: #7A7D80;
  margin-bottom: 0.6rem;
}
.card-pokemon .info .icon {
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .card-pokemon {
    max-width: 100%;
  }
}

.tag-type {
  display: inline-block;
  padding: 0 2.5rem;
  line-height: 2.4rem;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: -0.01em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.tag-type:hover {
  cursor: default;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 0.2rem 1rem -0.5rem rgba(90, 96, 100, 0.3);
  box-shadow: 0 0.2rem 1rem -0.5rem rgba(90, 96, 100, 0.3);
}
.tag-type.bug {
  color: var(--type-bug);
  background-color: rgba(155, 186, 72, 0.1);
}
.tag-type.ghost {
  color: var(--type-ghost);
  background-color: rgba(97, 110, 183, 0.1);
}
.tag-type.dark {
  color: var(--type-dark);
  background-color: rgba(89, 87, 97, 0.1);
}
.tag-type.dragon {
  color: var(--type-dragon);
  background-color: rgba(44, 106, 193, 0.1);
}
.tag-type.fairy {
  color: var(--type-fairy);
  background-color: rgba(226, 150, 225, 0.1);
}
.tag-type.electric {
  color: var(--type-electric);
  background-color: rgba(238, 217, 103, 0.1);
}
.tag-type.fighting {
  color: var(--type-fighting);
  background-color: rgba(196, 77, 97, 0.1);
}
.tag-type.ground {
  color: var(--type-ground);
  background-color: rgba(206, 128, 86, 0.1);
}
.tag-type.ice {
  color: var(--type-ice);
  background-color: rgba(139, 206, 193, 0.1);
}
.tag-type.normal {
  color: var(--type-normal);
  background-color: rgba(160, 162, 159, 0.1);
}
.tag-type.poison {
  color: var(--type-poison);
  background-color: rgba(172, 106, 202, 0.1);
}
.tag-type.psychic {
  color: var(--type-psychic);
  background-color: rgba(235, 139, 101, 0.1);
}
.tag-type.rock {
  color: var(--type-rock);
  background-color: rgba(182, 161, 54, 0.1);
}
.tag-type.grass {
  color: var(--type-grass);
  background-color: rgba(115, 184, 97, 0.1);
}
.tag-type.steel {
  color: var(--type-steel);
  background-color: rgba(101, 148, 161, 0.1);
}
.tag-type.water {
  color: var(--type-water);
  background-color: rgba(136, 163, 212, 0.1);
}
.tag-type.fire {
  color: var(--type-fire);
  background-color: rgba(246, 109, 109, 0.1);
}
.tag-type.flying {
  color: var(--type-flying);
  background-color: rgba(166, 187, 232, 0.1);
}

.btn-load-more {
  background-color: rgba(63, 93, 179, 0.1);
  border-radius: 0.6rem;
  padding: 1.4rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  color: var(--blue-primary);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.btn-load-more:hover {
  background-color: var(--blue-primary);
  color: #FFF;
}
.btn-load-more:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2024;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal[typePokemonModal=grass] .box .left-container {
  background-image: url("../img/bg-types/grass.svg");
}
.modal[typePokemonModal=poison] .box .left-container {
  background-image: url("../img/bg-types/poison.svg");
}
.modal[typePokemonModal=bug] .box .left-container {
  background-image: url("../img/bg-types/bug.svg");
}
.modal[typePokemonModal=dark] .box .left-container {
  background-image: url("../img/bg-types/dark.svg");
}
.modal[typePokemonModal=dragon] .box .left-container {
  background-image: url("../img/bg-types/dragon.svg");
}
.modal[typePokemonModal=electric] .box .left-container {
  background-image: url("../img/bg-types/electric.svg");
}
.modal[typePokemonModal=fairy] .box .left-container {
  background-image: url("../img/bg-types/fairy.svg");
}
.modal[typePokemonModal=fighting] .box .left-container {
  background-image: url("../img/bg-types/fighting.svg");
}
.modal[typePokemonModal=ground] .box .left-container {
  background-image: url("../img/bg-types/ground.svg");
}
.modal[typePokemonModal=ice] .box .left-container {
  background-image: url("../img/bg-types/ice.svg");
}
.modal[typePokemonModal=normal] .box .left-container {
  background-image: url("../img/bg-types/normal.svg");
}
.modal[typePokemonModal=psychic] .box .left-container {
  background-image: url("../img/bg-types/psychic.svg");
}
.modal[typePokemonModal=rock] .box .left-container {
  background-image: url("../img/bg-types/rock.svg");
}
.modal[typePokemonModal=ghost] .box .left-container {
  background-image: url("../img/bg-types/ghost.svg");
}
.modal[typePokemonModal=steel] .box .left-container {
  background-image: url("../img/bg-types/steel.svg");
}
.modal[typePokemonModal=flying] .box .left-container {
  background-image: url("../img/bg-types/flying.svg");
}
.modal[typePokemonModal=water] .box .left-container {
  background-image: url("../img/bg-types/water.svg");
}
.modal[typePokemonModal=fire] .box .left-container {
  background-image: url("../img/bg-types/fire.svg");
}
.modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .box {
  position: relative;
  width: 100%;
  max-width: 71rem;
  height: 50.8rem;
  background-color: #FFF;
  z-index: 1;
  -webkit-box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
  box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal .close {
  position: absolute;
  top: -4.4rem;
  right: 0;
  width: 3.6rem;
  height: 3.6rem;
  background: #FFF;
  border-radius: 8px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal .left-container {
  width: 100%;
  height: 100%;
  max-width: 19.1rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .box {
  position: relative;
  width: 100%;
  max-width: 71rem;
  height: 50.8rem;
  background-color: #FFF;
  z-index: 1;
  -webkit-box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
  box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(4rem);
  transform: translateY(4rem);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.modal .close {
  position: absolute;
  top: -4.4rem;
  right: 0;
  width: 3.6rem;
  height: 3.6rem;
  background: #FFF;
  border-radius: 8px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.modal .close:hover {
  background-color: #CCC;
}
.modal .left-container {
  width: 100%;
  height: 100%;
  max-width: 19.1rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.modal .left-container .icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3.4rem;
  height: 3.4rem;
  background-color: #FFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal .left-container .image {
  width: 100%;
  position: absolute;
  left: 14px;
  max-width: 20.2rem;
  bottom: 13.1rem;
}
.modal .left-container .image img {
  width: 100%;
  max-height: 22rem;
}
.modal .right-container {
  padding: 2rem 7.2rem 2.9rem 7.4rem;
}
.modal .right-container .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 10px;
}
.modal .right-container .name h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: -0.01em;
  color: #2F3133;
  margin-right: 0.5rem;
}
.modal .right-container .name span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.01em;
  color: #7A7D80;
  position: relative;
  top: -0.3rem;
  margin-right: 1rem;
}
.modal .right-container .name span#pokemonsID {
  margin-left: 1rem;
  margin-right: 2rem;
}
.modal .right-container .name .audio-player {
  position: relative;
  width: 30px;
  height: 30px;
}
.modal .right-container .name button#playPauseButton {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  background-image: url("../img/playwithcircularbuttonwithrightarrowofboldroundedfilledtriangle_80162.svg");
  background-size: cover;
  -webkit-transition: background-image 0.3s;
  transition: background-image 0.3s;
}
.modal .right-container .name button#playPauseButton.pause {
  background-image: url("../img/pausewithcircularbutton_80264.svg");
}
.modal .right-container .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.modal .right-container .type li:not(:first-child) {
  margin-left: 1rem;
}
.modal .right-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.modal .right-container .info li:not(:first-child) {
  margin-left: 4.8rem;
}
.modal .right-container .info li span {
  display: block;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  color: #7A7D80;
  margin-bottom: 0.4rem;
}
.modal .right-container .info li strong {
  display: block;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: -0.01em;
}
.modal .right-container .info li strong:not(:last-child) {
  margin-bottom: 1rem;
}
.modal .right-container .weaknesses {
  margin-bottom: 1rem;
  width: 100%;
}
.modal .right-container .weaknesses h4 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: 1.6rem;
  letter-spacing: -0.01em;
  color: #4D5053;
}
.modal .right-container .weaknesses ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.modal .right-container .weaknesses ul li:not(:first-child) {
  margin: 0;
}
.modal .right-container .weaknesses ul .tag-type {
  width: 100%;
  text-align: center;
}
.modal .right-container .stats h5 {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  color: #4D5053;
  margin-bottom: 1.6rem;
}
.modal .right-container .stats .all .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal .right-container .stats .all .item:not(:last-child) {
  margin-bottom: 1.3rem;
}
.modal .right-container .stats .all .item span {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #7A7D80;
  display: block;
  width: 9rem;
  margin-right: 1rem;
}
.modal .right-container .stats .all .item .bar-status {
  position: relative;
  width: 100%;
  max-width: 28.3rem;
  height: 3px;
  background-color: #EFF3F6;
  overflow: hidden;
}
.modal .right-container .stats .all .item .bar-status .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 56%;
  height: 100%;
  background-color: #C20001;
}
.modal .right-container .stats .all .item .bar-status .separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.modal .right-container .stats .all .item .bar-status .separator li {
  width: 4px;
  height: 3px;
  min-height: 3px;
  background-color: #FFF;
  margin-left: 5.4rem;
}

.open-modal .modal {
  opacity: 1;
  pointer-events: all;
}
.open-modal .box {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
}

h1, h2 {
  font-weight: bold;
  letter-spacing: -0.01em;
}

h2, h3 {
  color: #2F3133;
}

h1 {
  font-size: 6.4rem;
  color: #FFF;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2022;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .container p {
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #FFF;
}

footer {
  width: 100%;
  background-color: var(--blue-primary);
  padding-top: 6.7rem;
  padding-bottom: 6.5rem;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .txt h3 {
  color: #FFF;
}
footer .txt p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.6);
}
footer .txt p a {
  display: inline-block;
  color: inherit;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-text-decoration-skip-ink: 1rem;
  text-decoration-skip-ink: 1rem;
  /* Adjust the skip distance */
}
footer .txt p a:hover, footer .txt p a:visited, footer .txt p a:active {
  color: white;
}
footer .txt p a:hover {
  text-decoration: underline;
}
footer .txt p a:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.s-area-slide-hero {
  position: relative;
  width: 100%;
  height: 99.4rem;
}
.s-area-slide-hero .slide-hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.s-area-slide-hero .slide-hero .swiper-slide.blue .main-area {
  background-image: url("../img/bg-blue.svg");
}
.s-area-slide-hero .slide-hero .swiper-slide.blue .txt .image .pokeball {
  position: relative;
  top: -6.5rem;
  left: 1.3rem;
}
.s-area-slide-hero .slide-hero .swiper-slide.blue .area-explore .txt .icon {
  background-color: rgba(175, 192, 227, 0.3);
}
.s-area-slide-hero .slide-hero .swiper-slide::after {
  content: "";
  width: 100%;
  height: 28.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #EFF3F6;
  z-index: 0;
  pointer-events: none;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area {
  padding-top: 13.3rem;
  background: url("../img/bg-red.svg") no-repeat center center;
  width: 100%;
  height: 70.6rem;
  background-size: cover;
  position: relative;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .container {
  position: relative;
  height: 100%;
}
.s-area-slide-hero .slide-hero .swiper-slide .txt .tag {
  margin: 0 auto;
}
.s-area-slide-hero .slide-hero .swiper-slide .txt h1 {
  text-align: center;
  margin-top: 2.9rem;
  margin-bottom: 0.8rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .txt p {
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  color: #FFF;
}
.s-area-slide-hero .slide-hero .swiper-slide .txt .image {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  margin-top: 12.2rem;
  max-width: 79.8rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .txt .image .lights {
  position: absolute;
  left: 50%;
  margin-left: -8.5rem;
  top: -4.9rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .area-explore {
  position: absolute;
  bottom: 8rem;
  left: 0;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s-area-slide-hero .slide-hero .swiper-slide .area-explore .txt {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: -3.9rem;
  left: -2.4rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .area-explore .txt .icon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 4rem;
  height: 4rem;
  background-color: #C90C0C;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s-area-slide-hero .slide-hero .swiper-slide .area-explore .txt span {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
  margin-left: 3rem;
  color: #FFF;
}
.s-area-slide-hero .slide-hero .swiper-slide .area-explore .swiper-pagination {
  position: relative;
}
.s-area-slide-hero .slide-hero .swiper-slide .area-explore .swiper-pagination .swiper-pagination-bullet {
  width: 0.7rem;
  height: 0.7rem;
  background-color: #FFF;
}
.s-area-slide-hero .slide-hero .swiper-slide .area-explore .swiper-pagination .swiper-pagination-bullet:not(:first-child) {
  margin-left: 0.8rem;
}

.s-all-info-pokemon {
  position: relative;
  padding-top: 11.9rem;
  margin-top: -28.8rem;
  z-index: 2;
}
.s-all-info-pokemon .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 16.8rem;
}
.s-all-info-pokemon .top h2 {
  max-width: 26.5rem;
}
.s-all-info-pokemon .top .search {
  margin-top: 2.2rem;
}
.s-all-info-pokemon .area-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s-all-info-pokemon .area-all .left-container .top-container, .s-all-info-pokemon .area-all .right-container .top-container {
  margin-bottom: 6.3rem;
}
.s-all-info-pokemon .area-all .left-container .top-container > div, .s-all-info-pokemon .area-all .right-container .top-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-all-info-pokemon .area-all .left-container .top-container > div img, .s-all-info-pokemon .area-all .right-container .top-container > div img {
  width: 100%;
  max-width: 2rem;
}
.s-all-info-pokemon .area-all .left-container .top-container > div span, .s-all-info-pokemon .area-all .right-container .top-container > div span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
  color: #4D5053;
  margin-left: 0.6rem;
}
.s-all-info-pokemon .area-all .left-container {
  width: 100%;
  max-width: 32.9rem;
  border-right: 1px solid #EFF3F6;
  padding-top: 7.1rem;
  padding-bottom: 7.1rem;
}
.s-all-info-pokemon .area-all .left-container .top-container {
  margin-bottom: 3.2rem;
}
.s-all-info-pokemon .area-all .left-container .top-container > div img {
  max-width: 4rem;
}
.s-all-info-pokemon .area-all .left-container .top-container > div span {
  margin-left: 0;
}
.s-all-info-pokemon .area-all .left-container ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.s-all-info-pokemon .area-all .right-container {
  width: 100%;
  padding-top: 7.1rem;
  padding-left: 7.5rem;
  padding-bottom: 8.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.s-all-info-pokemon .area-all .right-container .select-custom {
  display: none;
  position: relative;
  margin-bottom: 5.5rem;
}
.s-all-info-pokemon .area-all .right-container .select-custom.active .dropdown-select {
  opacity: 1;
  pointer-events: all;
}
.s-all-info-pokemon .area-all .right-container .select-custom .item-selected {
  cursor: pointer;
  width: 100%;
  height: 5.6rem;
  border: 1px solid #A0AFBA;
  background: url("../img/arrow-down-select.svg") no-repeat right 2.4rem center;
  padding: 0 2rem;
  border-radius: 1rem 1rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7A7D80;
}
.s-all-info-pokemon .area-all .right-container .select-custom .item-selected span, .s-all-info-pokemon .area-all .right-container .select-custom .item-selected strong {
  font-size: 1.4rem;
  color: #7A7D80;
}
.s-all-info-pokemon .area-all .right-container .select-custom .item-selected span {
  opacity: 0.6;
  margin-right: 0.4rem;
}
.s-all-info-pokemon .area-all .right-container .select-custom .item-selected strong {
  font-weight: 600;
}
.s-all-info-pokemon .area-all .right-container .select-custom .dropdown-select {
  position: absolute;
  top: 5.6rem;
  width: 100%;
  height: 22.3rem;
  border: 1px solid #A0AFBA;
  background-color: #FFF;
  border-top: 0;
  padding: 2.1rem;
  z-index: 2;
  overflow-y: auto;
  border-radius: 0 0 1rem 1rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.s-all-info-pokemon .area-all .right-container .select-custom .dropdown-select::-webkit-scrollbar-track {
  background-color: transparent;
}
.s-all-info-pokemon .area-all .right-container .select-custom .dropdown-select::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}
.s-all-info-pokemon .area-all .right-container .select-custom .dropdown-select::-webkit-scrollbar-thumb {
  background-color: #3D75C2;
  border-radius: 0.5rem;
}
.s-all-info-pokemon .area-all .right-container .select-custom .dropdown-select li:first-child button {
  padding-top: 0;
}
.s-all-info-pokemon .area-all .right-container .select-custom .dropdown-select li button {
  padding: 1.2rem 0;
  width: 100%;
}
.s-all-info-pokemon .area-all .right-container .select-custom .dropdown-select li:last-child button {
  padding-bottom: 0;
}
.s-all-info-pokemon .area-all .right-container .all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3.2rem;
  margin-bottom: 6.8rem;
}
.s-all-info-pokemon .area-all .right-container .btn-load-more {
  display: table;
  margin: 0 auto;
}

@media (max-width: 550px) {
  header {
    height: 8.2rem;
  }
  header .container > a > img {
    max-width: 12.9rem;
  }
}
@media (max-width: 345px) {
  header {
    height: 8.2rem;
  }
  header .container > a > img {
    max-width: 10rem;
  }
  header .container > a > p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .s-area-slide-hero {
    height: 95.4rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide.blue .main-area .txt h1 {
    max-width: 38.5rem;
    margin: 0 auto;
    margin-top: 2.9rem;
    margin-bottom: 0.8rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide::after {
    height: 25rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explore {
    display: none;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .txt .image {
    margin-top: 8.2rem;
  }
}
@media (max-width: 560px) {
  .s-area-slide-hero {
    overflow: hidden;
    height: 104.5rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area {
    padding-top: 12rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area h1 {
    font-size: 4.8rem;
    line-height: 5.9rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .image img {
    max-width: 72rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide::after {
    height: 34rem;
  }
}
@media (max-width: 1200px) {
  .s-all-info-pokemon .top .search {
    max-width: 32.3rem;
  }
  .s-all-info-pokemon .area-all .left-container {
    max-width: 15.9rem;
    padding-top: 4rem;
  }
  .s-all-info-pokemon .area-all .right-container {
    padding-top: 4rem;
    padding-left: 2.5rem;
    padding-bottom: 4rem;
  }
  .s-all-info-pokemon .area-all .right-container .top-container {
    margin-bottom: 4rem;
  }
  .s-all-info-pokemon .area-all .right-container .all {
    grid-gap: 2rem;
  }
}
@media (max-width: 768px) {
  .s-all-info-pokemon {
    margin-top: -25.8rem;
  }
  .s-all-info-pokemon .top {
    margin-bottom: 4rem;
  }
  .s-all-info-pokemon .area-all .left-container {
    display: none;
  }
  .s-all-info-pokemon .area-all .right-container {
    padding-left: 0;
  }
  .s-all-info-pokemon .area-all .right-container .all {
    grid-template-columns: 1fr 1fr;
  }
  .s-all-info-pokemon .area-all .right-container .select-custom {
    display: block;
  }
}
@media (max-width: 560px) {
  .s-all-info-pokemon {
    margin-top: -34rem;
    padding-top: 12rem;
    padding-bottom: 4rem;
  }
  .s-all-info-pokemon .top {
    display: block;
    margin-top: -1.4rem;
    margin-bottom: 7.7rem;
  }
  .s-all-info-pokemon .top h2 {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
  }
  .s-all-info-pokemon .top .search {
    margin: 0 auto;
    margin-top: 2.5rem;
  }
  .s-all-info-pokemon .area-all .right-container .all {
    grid-template-columns: 1fr;
    grid-gap: 1.6rem;
    max-width: 86%;
    margin: 0 auto;
    margin-bottom: 4.8rem;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 4rem 0;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .container .txt h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
  footer .container .txt p {
    width: 100%;
    max-width: 42.914rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .modal {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .modal .box {
    width: 100%;
    height: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .modal .box .close {
    top: -3.6rem;
    width: 5rem;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .modal .box .close img {
    width: 2.5rem;
  }
  .modal .box .left-container {
    max-width: 100%;
    background-size: cover;
    height: 12.5rem;
  }
  .modal .box .left-container .image {
    position: relative;
    max-width: 12rem;
    left: 35%;
    top: 3rem;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .modal .box .left-container .image img {
    max-height: 13rem;
  }
  .modal .box .right-container {
    padding: 4rem 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .modal .box .right-container .name {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .modal .box .right-container .type {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .modal .box .right-container .info {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
  }
  .modal .box .right-container .weaknesses h4 {
    text-align: center;
  }
  .modal .box .right-container .weaknesses ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .modal .box .right-container .stats {
    margin-bottom: 4rem;
  }
  .modal .box .right-container .stats .all .item .bar-status {
    max-width: 75%;
  }
  .modal .box .right-container .stats .all .item .bar-status .separator .li:not(:first-child) {
    margin-left: 20%;
  }
}