* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Fredoka", sans-serif;
}
@media screen and (max-width: 1500px) {
  html {
    font-size: 50%;
  }
}

.container {
  width: 100%;
  max-width: 90.6vw;
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  background-color: #FFA124;
  box-shadow: 0px 1px 10px black;
}

.social {
  background-color: #e99321;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  height: 4rem;
}
.social ul .container {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 3.8rem;
}
.social ul .container li {
  z-index: 0;
  cursor: pointer;
}

.nav-bar nav {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-bar nav img {
  cursor: pointer;
}
.nav-bar nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  height: 20rem;
  gap: 5.4rem;
}
.nav-bar nav ul li > a {
  color: #5B4435;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}
.nav-bar nav ul li > a:hover {
  color: #76562A;
}
.nav-bar nav ul li > a::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.3s;
}
.nav-bar nav ul li > a:hover::before {
  transform: scaleX(1);
}
.nav-bar nav ul li > a::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  transform-origin: right;
  transform: scaleX(0);
  transition: all 0.3s;
}
.nav-bar nav ul li > a:hover::after {
  transform: scaleX(1);
}

.first-sect {
  background-color: #FFA124;
  height: 80vh;
  margin-top: 15.7rem;
  padding-top: 2.23rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.first-sect #marca {
  position: absolute;
  right: -1.4rem;
  top: 3rem;
  width: auto;
  height: 90vh;
}
.first-sect .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.first-sect .container .text-area-first h1 {
  font-size: 6.476rem;
  font-weight: bold;
  color: #5B4435;
}
.first-sect .container .text-area-first p {
  color: #5B4435;
  margin-top: 3.25rem;
  text-align: justify;
  font-size: 2.4rem;
  width: 100%;
  max-width: 73.25rem;
}

.s-cards .container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.s-cards .container .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  width: 30rem;
  height: 30rem;
  background-color: #FFA733;
}
.s-cards .container .text-card {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  color: #76562A;
}