html {
  font-size: 62.5%;
}

body {
  background-color: #EEE;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
}

h1 {
  font-size: 3.5rem;
}

header {
  margin-top: 1rem;
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .container .nav-bar nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .container .nav-bar nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .container .nav-bar nav ul a:not(:last-child) {
  margin-right: 10rem;
}
header .container .nav-bar nav ul a li {
  font-size: 3rem;
  font-weight: 700;
  color: #3A54A2;
  transition: 0.2s all;
}
header .container .nav-bar nav ul a li:hover {
  color: rgba(58, 84, 162, 0.8);
  scale: 1.05;
}

@media (max-width: 1600px) {
  header .container .header-image {
    display: none;
  }
}

footer {
  padding: 2rem 0;
  margin-top: 2rem;
  background-color: #3A54A2;
}
footer .container .top {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .container .top img {
  max-width: 15rem;
}
footer .container .top .share span {
  color: #EEE;
  font-weight: 700;
  font-size: 2rem;
}
footer .container .top .share ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
footer .container .top .share ul li:not(:last-child) {
  margin-right: 2rem;
}
footer .container .top .share ul li a svg.bootstrapInstagram,
footer .container .top .share ul li a svg.bootstrapLinkedin {
  transition: 0.2s all;
}
footer .container .top .share ul li a svg.bootstrapInstagram:hover,
footer .container .top .share ul li a svg.bootstrapLinkedin:hover {
  transform: scale(1.1);
}
footer .container .top .share ul li a .bootstrapInstagram, footer .container .top .share ul li a .bootstrapLinkedin {
  fill: #16BE64;
}
footer .container .top .share ul li a .bootstrapInstagram:hover, footer .container .top .share ul li a .bootstrapLinkedin:hover {
  fill: rgba(22, 190, 100, 0.8);
}

.s-hero .container .info {
  text-align: center;
}
.s-hero .container .info h1 {
  margin-bottom: 5rem;
}
.s-hero .container .info p {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.s-hero .container .equipe {
  text-align: center;
}
.s-hero .container .equipe .linhaUm, .s-hero .container .equipe .linhaDois {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.s-hero .container .equipe .linhaUm .individuo, .s-hero .container .equipe .linhaDois .individuo {
  transition: all 0.2s;
}
.s-hero .container .equipe .linhaUm .individuo a, .s-hero .container .equipe .linhaDois .individuo a {
  text-decoration: none;
}
.s-hero .container .equipe .linhaUm .individuo:hover, .s-hero .container .equipe .linhaDois .individuo:hover {
  scale: 0.9;
  opacity: 0.9;
  cursor: pointer;
}
.s-hero .container .equipe .linhaUm .individuo:active, .s-hero .container .equipe .linhaDois .individuo:active {
  scale: 0.83;
}
.s-hero .container .equipe .linhaUm .individuo .foto img, .s-hero .container .equipe .linhaDois .individuo .foto img {
  border-color: #3A54A2;
  border-radius: 36rem;
  border-width: 10px;
  margin-bottom: 2rem;
  max-width: 25vw;
  max-height: 25vh;
}
.s-hero .container .equipe .linhaUm .individuo .nome span, .s-hero .container .equipe .linhaUm .individuo .funcao span, .s-hero .container .equipe .linhaDois .individuo .nome span, .s-hero .container .equipe .linhaDois .individuo .funcao span {
  text-transform: uppercase;
  font-size: 1.7rem;
}
.s-hero .container .equipe .linhaUm .individuo .nome, .s-hero .container .equipe .linhaDois .individuo .nome {
  padding: 1rem 2rem;
  border-radius: 36rem;
  background-color: #3A54A2;
  margin-bottom: 1rem;
}
.s-hero .container .equipe .linhaUm .individuo .nome span, .s-hero .container .equipe .linhaDois .individuo .nome span {
  color: #EEE;
  font-weight: 700;
}
.s-hero .container .equipe .linhaUm .individuo .funcao span, .s-hero .container .equipe .linhaDois .individuo .funcao span {
  font-weight: 700;
  text-decoration: none;
  color: #111;
}/*# sourceMappingURL=sobre.css.map */