// Style First Section

.first-sect {
  #marca {
    position: absolute;
    right: -1.4rem;
    top: 3rem;
    width: auto;
    height: 90vh;
  }
  background-color: $first;
  height: 80vh;
  margin-top: 15.7rem;
  padding-top: 2.23rem;
  @include flex(row, center, center);
  .container {
    @include flex(row, center, space-between);
    position: relative;
    .text-area-first {
      h1 {
        font-size: 6.476rem;
        font-weight: bold;
        color: $third;
      }
      p {
        color: $third;
        margin-top: 3.25rem;
        text-align: justify;
        font-size: 2.4rem;
        width: 100%;
        max-width: 73.25rem;
      }
    }
  }
}

//Style Section Cards
.s-cards {
  .container {
    margin: 0 auto;
    @include flex(row, center, space-between);
    // position: absolute;
    
    .card {
      @include flex(row, center, center);
      border-radius: 3rem;
      width: 30rem;
      height: 30rem;
      background-color: $clearFirst;
    }
    .text-card {
      width: 100%;
      font-size: 3rem;
      text-align: center;
      color: $second;
    }
  }
}