footer {
    width: 100%;
    background-color: var(--blue-primary);
    padding-top: 6.7rem;
    padding-bottom: 6.5rem;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .txt {
        h3 {
            color: #FFF;
        }
        p {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 180%;
            color: rgba(255, 255, 255, .6);
            a {
                display: inline-block;
                color: inherit;
                transition: all .2s;
                text-decoration-skip-ink: 1rem; /* Adjust the skip distance */
                &:hover, &:visited, &:active {
                    color: rgb(255, 255, 255);
                }
                &:hover {
                    text-decoration: underline;
                }
                &:active {
                    transform: scale(.95);
                }
            }
        }
    }
}
