// idv
$brand-green: #16BE64;
$brand-green-hover: rgba(22, 190, 100, 0.8);

$brand-blue: #3A54A2;
$brand-blue-hover: rgba(58, 84, 162, 0.8);

// geral
$white: #EEE;
$darkWhite: #BBB;
$black: #111;
$lightBlack: #333;