* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;

  &::selection {
    color: $first;
    background: $second;
  }
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
  font-size: 7rem;
  color: $third;
  margin-bottom: 6.875rem;
}

h3 {
  text-align: center;
  font-size: 5rem;
  color: $third;
  margin-bottom: 4rem;
}

html {
  scroll-behavior: smooth;
  background-color: $background;
  font-size: 62.5%;
  font-family: "Fredoka", sans-serif;
  @include responsive(1500px) {
    font-size: 50%;
  }
}
